body {
    background-image: url(https://get.pxhere.com/photo/rock-music-light-crowd-concert-singer-band-audience-live-show-metal-darkness-musician-spotlight-celebrate-lights-stage-tour-performance-party-artists-fans-performing-arts-metal-band-rock-and-roll-live-concert-rock-concert-atmosphere-of-earth-computer-wallpaper-411392.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header {
   text-align: center;
   color: gold;
   font-family: 'Monoton', cursive; 
   font-size: 70px;
   
}
.jumbotron {
   background: url(https://media.gettyimages.com/videos/rain-drops-on-a-black-background-the-background-can-be-remove-using-a-video-id1132361528?s=640x640);
   background-size: cover;
}
   
button {
   background-color: darkslategray;
}
.container {
   margin: 20px;
}
#artistInfo {
   background-color: black;
   image-orientation: from-image;
   border: gold;
   size: 10px;
}
#lyrics {
   font-style: normal;
   font-family: 'Zilla Slab Highlight', cursive;
   color: gold;
   font-size: large;

}
.artisImg {
    padding: 20px;
}
.info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.row1 {
    padding-top: 70px;
}

.row {
    padding-top: 50px;
}
.col-md-6 {
    background-color: black;
}